<!-- Cette description sera le champ de saisie des commentaires affiché sur l'écran d'affichage du food. -->
<%= form_with(model: [food, comment], local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "erreur") %> interdit l'enregistrement de ce commentaire:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="comment">
    <%= form.label :Commenter_ici_! %>
    <%= form.text_area :content, class: 'form-control', placeholder: "écrit le commentaire ici" %>
  </div>
<br />
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
