<h1>Comments#create</h1>
<p>Find me in app/views/comments/create.html.erb</p>
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="food-text">
    <p><strong>Titre</strong>：<%= @food.title %></p>
    <p><strong>Contenu</strong>：<%= @food.content %></p>
  </div>

  <p>Liste des commentaires (le contenu en dessous est important)</p>

  <!-- Obtenez l'identifiant de ce HTML appelé comments_area et mettez à jour uniquement cette partie de la division. -->
  <div id="comments_area">
    <!-- pour afficher la liste des commentaires publiés sur la page de détail du food. -->
    <%= render partial: 'comments/index', locals: { comments: @comments, food: @food } %>
  </div>

  <!-- rend le champ de saisie des commentaires à afficher sur la page détaillée du food. -->
  <%= render partial: 'comments/form', locals: { comment: @comment, food: @food } %>

  <%= link_to 'Édition', edit_food_path(@food) %> |
  <%= link_to 'Retourner', foods_path %>
</div>
