<div class="banner">
  <div class="row">
    <div class="col-sm-10">
      <div class="card">
        <div class="card-header">
          <h1>Profil de <%= @user.name %></h1>
            <p><%= @user.email %></p>
            <p><%= link_to 'Acceuil', foods_path, class: 'fs-10 btn btn-outline-secondary' %></p>


            <% if @foods.present? %>

            <% if current_user.id == @user.id %>
              <% @foods.each do |food| %>
              <% if food.image.file.nil? %>
                <% else %>
                <%= image_tag food.image.url, class: 'main_box_img' %>
              <% end %><br />
                <%= food.name %><br>
                <%= food.description %>
                <%= food.price %>
                <br>
                <br>
          <%= link_to 'Afficher', food_path(food.id), class: 'fs-10 btn btn-outline-primary' %> |
          <%= link_to 'Modifier', edit_food_path(food.id), class:'fs-10 btn btn-outline-warning' %> |
          <%= link_to 'Supprimer', food_path(food.id), method: :delete, data: { confirm: 'Are you sure you want to delete?' },
                                                                                class:'fs-10 btn btn-outline-danger' %> |
            <hr>
            <% end %>
            <% else %>
               <h5>Il n'y a pas de poste créée par cet utilisateur</h5>
            <% end %>

          <% end %>
          <%= paginate @foods %>

        <!-- / .card -->
        </div>
        <!-- ./col -->
      </div>
    </div>
  </div>
</div>
