<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "erreur") %> interdit l'enregistrement de ce plat:</h2>

      <ul>
        <% @food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :Nom %>
    <%= form.text_field :name, class: 'form-control', placeholder: "écrit le nom du plat ici" %>
  </div>

  <div class="field">
    <%= form.label :Restaurant %>
    <%= form.select :restaurant_id, Restaurant.all.collect { |p| [p.name, p.id]}, class: "search_label form-control", prompt: "sélectionne le restaurant ici" %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_field :description, class: 'form-control', placeholder: "écrit la description du plat ici" %>
  </div>

  <div class="field">
    <%= form.label :Prix %>
    <%= form.text_field :price, class: 'form-control', placeholder: "écrit le prix du plat ici" %>
  </div>

  <div class="field">
    <%= form.label :Image %>
    <%= image_tag(@food.image.url) if @food.image && @food.image.url %><br><br>

    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %><br><br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
