<h1>Foods</h1>
<div  class="banner">
  <div class="share_box">
    <%= link_to 'Faire une publication', new_food_path, class: 'btn btn-primary text-light' %> | | <%= link_to 'Ajoutez un Restaurant', new_restaurant_path, class: 'btn btn-secondary text-light' %>
  </div>
<br>
    <% if @foods != nil %>
    <% @foods.each do |food| %>
    <div class="main_box">
      <table>
        <tr>
          <td>
            <% if food.image.file.nil? %>
              <% else %>
              <%= image_tag food.image.url, class: 'main_box_img' %>
            <% end %>
          </td>
        </tr>
      <tr>
        <td>
          <div class="main_box_head">
            <%= User.find(food.user_id).name%><br>
            Ce plât s'appelle <%= food.name %><br>
            Ce plât coûte <%= food.price %><span>FCFA</span><br>
            Par le restaurant <%= link_to Restaurant.find(food.restaurant_id).name, restaurants_path %>
            <br><br>
            <%= image_tag "like.png", class: 'icon_img' %>
            <%= image_tag "comment.png", class: 'icon_img' %>
            <br><br>
            <div class="main_box_menu">
              <% if current_user.id == food.user.id %>
              <%= link_to 'Afficher', food %>
              <%= link_to 'Modifier', edit_food_path(food) %>
              <%= link_to 'Supprimer', food, method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to 'Ma page', current_user %>
              <% else %>
              <%= link_to 'Plus de détails', food_path(food.id), class:'btn btn-outline-primary' %>
              <% end %>
              <%= "Il y à #{time_ago_in_words(food.created_at || Time.now)}" %> <br>
            </div>
          </div>
        </td>
      </tr>
      </table>
    </div>
      <% end %>
    <% end %>
<%= paginate @foods %>
</div>
