<div class="container">
  <button><%= link_to 'Faire une publication', new_food_path, class: 'btn btn-primary text-light' %></button>
     | |
  <button><%= link_to 'Ajoutez un Restaurant', new_restaurant_path, class: 'btn btn-secondary text-light' %></button>
<br />
    <% if @foods != nil %>
    <% @foods.each do |food| %>
    <div class="main_box"> <br />
      <table>
        <tr>
          <td>
            <% if food.image.file.nil? %>
              <% else %>
              <%= image_tag food.image.url, class: 'main_box_img' %>
            <% end %>
          </td>
        </tr>
      <tr>
        <td>
          <div class="main_box_head">
            <h5><%= User.find(food.user_id).name%></h5>
            Ce plât est nommé <h5><%= food.name %></h5>
            Et il coûte <h5><%= food.price %>FCFA</h5>
            Publié par le restaurant<h4><%= Restaurant.find(food.restaurant_id).name %></h4>
            <%= "Il y à #{time_ago_in_words(food.created_at || Time.now)}" %>
            <br />
            <br />

              <% if current_user.id == food.user.id %>
              <%= link_to 'Afficher', food , class: 'fs-10 btn btn-outline-primary'%>
              <%= link_to 'Modifier', edit_food_path(food), class:'fs-10 btn btn-outline-warning' %>
              <%= link_to 'Supprimer', food, method: :delete, data: { confirm: 'Etes-vous certain ?' }, class:'fs-10 btn btn-outline-danger' %>
              <% else %>
              <%= link_to 'Plus de détails', food_path(food.id), class:'btn btn-outline-primary' %>
              <% end %>
              <h2><%= food.comments.count %> commentaires</h2>

          </div>
        </td>
       </tr>
      </table>
    </div>
    <hr>
      <% end %>
    <% end %>
</div>
<%= paginate @foods %>
