<div class="container">
  <button><%= link_to 'Faire une publication', new_food_path, class: 'btn btn-primary text-light' %></button>
     | |
  <button><%= link_to 'Ajoutez un Restaurant', new_restaurant_path, class: 'btn btn-secondary text-light' %></button>
<br><br>
    <% if @foods != nil %>
    <% @foods.each do |food| %>
    <div class="main_box">
      <table>
        <tr>
          <td>
            <% if food.image.file.nil? %>
              <% else %>
              <%= image_tag food.image.url, class: 'main_box_img' %>
            <% end %>
          </td>
        </tr>
      <tr>
        <td>
          <div class="main_box_head">
            <h5><%= User.find(food.user_id).name%></h5>
            Ce plât est nommé <h5><%= food.name %></h5>
            Ce plât coûte <strong><%= food.price %>FCFA</strong>
            Par le restaurant <h4><%= Restaurant.find(food.restaurant_id).name %></h4>
            <div class="main_box_menu">
              <% if current_user.id == food.user.id %>
              <%= link_to 'Afficher', food %>
              <%= link_to 'Modifier', edit_food_path(food) %>
              <%= link_to 'Supprimer', food, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
              <%= link_to 'Plus de détails', food_path(food.id), class:'btn btn-outline-primary' %>
              <% end %>
              <%= "Il y à #{time_ago_in_words(food.created_at || Time.now)}" %><br>
              <h2><%= food.comments.count %> commentaires</h2>
            </div>
          </div>
        </td>
       </tr>
      </table>
    </div>
    <hr>
      <% end %>
    <% end %>
</div>
<%= paginate @foods, class: 'center' %>
