<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "erreur") %> interdit l'enregistrement de ce restaurant:</h2>

      <ul>
        <% restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nom %>
    <%= form.text_field :name, class: 'form-control', placeholder: "écrit le nom du restaurant ici" %>
  </div>

  <div class="field">
    <%= form.label :Addresse %>
    <%= form.text_field :adress, class: 'form-control', placeholder: "écrit l'addresse du restaurant ici" %>
  </div>

  <div class="field">
    <%= form.label :Téléphone %>
    <%= form.text_field :phone, class: 'form-control', placeholder: "écrit le numéro de téléphone ici" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
