<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>


<!DOCTYPE html>
<html>
  <head>
    <title>SpecialFoodStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if user_signed_in? %>
        <%= link_to "Food", foods_path %>
        <%= link_to 'MyPage', current_user %>
        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
      <% if current_user.admin? %>
        <%= link_to "Administration", rails_admin_path %>
      <% end %>
      <% else %>
        <%= link_to "S'enrégistrer", new_user_registration_path %>
        <%= link_to "Se connecter", new_user_session_path %>
      <% end %>
    <%= yield %>
  </body>
</html>
